MONGODB_URI=mongodb://mongo:27017/wishlist-manager
JWT_ACCESS_SECRET=super-secret-access-token
JWT_REFRESH_SECRET=super-secret-refresh-token
PORT=5000
NODE_ENV=production
CLIENT_URL=http://localhost:5173
